---
layout: archive
---

<!--Insert code image
{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/assets/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Crédito: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div>
{% endif %}
-->

<div id="main" role="main">
  <div class="article-author-side">
  </div>
  <div id="index">
  <h1>Hello, world!</h1>
  <p>Desenvolvedor Web, Programador e Professor de Informática. Graduado em Análise e Desenvolvimento de Sistemas e Mestre em Ciência da Computação.</p>
  <p>Prazer em conhecê-lo!</p>
 </div> <!-- /#index -->
</div> <!-- /#main -->
</body>
</html>
